.home-cont{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.users-cont{
    height: 100%;
    width: 30%;
}

.chats-cont{
    height: 100%;
    width: calc(100% - 30%);
    background-color: brown;
}