*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.user-name-cont{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.add-friend-banner{
    width: 100%;
    height: 7vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-friend-banner:hover{
    cursor: pointer;
}

.home-content{
    width: 80vw;
    height:80vh;
    display: flex;
    position: absolute;
    left: 10vh;
    padding: 2rem;
}

.users-cont-card{
    height: 80vh;
    width: 30%;
    overflow: auto;
}

.users-cont{
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

.user{
    width: 100%;
    height: 7vh;
    background-color: #74b9ff;
    border-radius: 5%;
    padding: 0.3rem;
}

.user:hover{
    cursor: pointer;
}

.user-selected{
    background-color: #0984e3;
}

.user-info{
    display: flex;
    gap: 0.5rem;
}

.user-email{
    align-self: center;
}

.user-img{
    width: 3vw;
    height: 3vh;
}

.chats-cont{
    height: 80vh;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.old-chats-card{
    width: 100%;
    min-height: 90%;
}

.new-chat-card{
    width: 100%;
    height: 10%;
}

.logout-btn{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.logout-btn:hover{
    cursor: pointer;
}